 <div class="user-details">
  <h1> 소개글 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Mobile</h2>
      <i class="devicon-swift-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>PC</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>WEB</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tool</h2>
      <i class="devicon-apple-original"></i>
      <i class="devicon-vscode-plain colored"></i>
      <p>모바일 개발에는 Xcode를 사용하고, PC와 WEB 개발은 VScode를 사용하고 있습니다.</p>
    </div>
</div>
