 <div class="user-details">
  <h1> 소개글 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Mobile</h2>
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg" />
      <p>모바일 개발은 Swift를 사용하고 하고 있습니다. 애플의 최신 프레임워크인 SwiftUI를 사용하고, 모바일 데이터베이스는 CoreData 및 Realm 사용 가능하며
        CocoaPods을 이용한 각종 외부 라이브러리를 사용할 수 있습니다.
      </p>
    </div>
    <div class="tech">
      <h2>PC</h2>
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />


      <p>C, C#, Java, Python 문법을 익혀 간단한 로직이나, 계산기와 비슷한 수준의 프로그램을 만들 수 있습니다. 모바일 데이터베이스를 공부하면서
        mySQL의 CRUD 방법과 문법을 익혔습니다. SwiftUI의 공부 방법을 발판 삼아서 더 깊은 기술을 배우고자 노력하겠습니다.
      </p>
    </div>
    <div class="tech">
      <h2>WEB</h2>
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
      <p>HTML과 CSS, JavaScript를 이용한 웹사이트를 생성과 수정을 할 수 있습니다. UI/UX 관련 관심도 많아 서적을 읽고 공부하고 있습니다.</p>
    </div>
    <div class="tech">
      <h2>Tool</h2>
      <img class="imgicon" src="https://img.icons8.com/color/96/000000/xcode.png"/>
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original-wordmark.svg" />
      <img class="imgicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain-wordmark.svg" />
      <p>모바일 개발에는 Xcode를 사용하여 최근 버그 이슈 해결법과 프로젝트 관리법 등 여러 기술을 익혔습니다. 그리고 PC와 WEB 개발은 VScode를 사용하고 있습니다.
        형상 관리 도구 및 협업 도구로는 Git를 다룰 수 있습니다. 커밋, 브랜치, 리모트 방식 등 GUI 환경뿐만 아니라 CLI 환경에서도 사용할 수 있습니다.
      </p>
    </div>
</div>
